
[class^="wsCtImage"]
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

[class^="wsCtImage"] img
{
    position: absolute;
}

[class^="wsCtImage"] .wsStrech
{
    width: 100%;
    height: 100%;
}

[class^="wsCtImage"] .wsPointer
{
    cursor: pointer;
}
